# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Maven / Gradle
target/
build/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Others
*.class

# Application.properties
src/main/resources/application.properties