.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.modal {
  background: white;
  padding: 1.7rem 1.9rem;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.modal h2 {
  padding-bottom: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

input,
select {
  padding: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 6px;
  border: 1px solid grey;
}

.requests {
  padding-bottom: 1.5rem;
  font-family: inherit;
}

.requests {
  width: 100%;
  min-height: 90px;
  max-height: 160px;
  padding: 0.75rem;
  font-size: 1rem;
  resize: vertical;
  overflow-y: auto;
  overflow-x: hidden;
  line-height: 1.4;
  white-space: pre-wrap;
  border-radius: 6px;
  border: 1px solid grey;
  font-family: inherit;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  padding-top: 8px;
}

button {
  padding: 0.5rem 1rem;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  color: white;
  transition: color 0.15s ease;
}

.addBtn {
  background: #51c1a0;
}

.addBtn:hover {
  background: #469e84;
}

.cancelBtn {
  background: #939393;
}

.cancelBtn:hover {
  background: #707070;
}
