/* .addBtn {
  color: #51c1a0;
  font-weight: 500;
  font-size: 15px;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.15s ease;
}

.addBtn:hover {
  color: #469e84;
} */

.addBtn {
  background: #51c1a0;
  padding: 0.8rem 1.2rem;
  font-weight: 500;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: color 0.15s ease;
}

.addBtn:hover {
  background: #469e84;
}
